body {
    font-size: 16px;
    color: #fff;
    background-color: #61122f;
    font-family: 'Oxygen', sans-serif;
}

/* Header Styles */
.header-nav {
    /* background-color: #f6b319; */
}

.brand .logo {
    float: left;
}

.brand .logo div {
    width: 100px;
    height: 100px;
}

.brand img {
    filter: grayscale(100%) brightness(70%) contrast(300%);

}